* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
    padding: 2rem;
}

.h1__header {
    margin: 0;
    text-align: center;
    padding-bottom: 0.5rem;
}

.wrapper {
    padding: 2rem;
    max-width: 60%;
    margin: 0 auto;
    background: linear-gradient(#a4cff7, #dbf5e7);
}

.icon-wrapper {
    transition: all .5s ease-in;
    display: none;
}

.mem {
    margin: 0 0 1rem;  
}

.mem-label {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1.25rem;
    font-size: 1.5em;
    font-weight: 400;
    transition: all .5s ease-out;
    color: #581cc7;
}

.mem-label, .mem-input, .img-wrapper {
    cursor: pointer;
}

.mem-input {
    height: 0;
    width: 0;
}

.img-wrapper img {
    width: 100%;
}

.img-wrapper {
    display: block;
    width: 50%;
    margin: 0 auto;
    transition: all .3s;
    overflow: hidden;
    height: 0;
}

.mem-input:checked~.img-wrapper {
    height: 27rem;
    padding: 0,875rem 0;
}

.mem-input:checked + .mem-label > .icon-wrapper{
    transform: rotate(45deg);
}

.mem-input:checked + .mem-label {
    color: #000;
}

/*Hover*/

.container:hover .icon-wrapper {
    display: block;
}

.mem-label:hover, .container:hover .mem-label {
    color: #000;
}

.mem-input:hover + .mem-label > .icon-wrapper {
    transform: rotate(45deg);
    fill: #581cc7;
    transition: all .5s ease;
}

.mem:hover > .img-wrapper {
    height: 27rem;
    padding: 0,875rem 0;
}